<h2 class= "text text-center">Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="text text-center">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="text text-center">
    <%= f.submit "Send me reset password instructions" %></br>
    <%= render "users/shared/links" %>
  </div>
<% end %>


